{# https://repos.entrouvert.org/authentic.git/tree/src/authentic2_auth_fc/templates/authentic2_auth_fc #}
{% load staticfiles %}
{% load i18n %}

<link rel="stylesheet" type="text/css" href="{% static 'authentic2_auth_fc/css/fc.css' %}">

<div id="fc-registration-user-info">
  <h3>Finalisez votre inscription</h3>
  <p>Le compte ci-dessous n'existe pas, veuillez finaliser sa création en cliquant sur le bouton d'identification.</p>
  {% include "authentic2_auth_fc/explanation.html" %}
    <p class="certified">
      <span class="fc-user-full-name">{{ fc_user_info.given_name }} {{ fc_user_info.family_name }}</span>
        {% if fc_user_info.email %}<span class="fc-user-email">{{ fc_user_info.email }}</span>{% endif %}
         </p>
</div>

<div id="fc-button-wrapper">
  <a href="{{ registration_url }}" class="button connexion{% if popup %} js-fc-popup{% endif %}">
    <div id="fc-button"></div>
  </a>
</div>
{% include "authentic2_auth_fc/link.html" %}
{% if popup %}<script src="{% static 'authentic2_auth_fc/js/fc.js' %}" type="text/javascript"></script>{% endif %}
