/* Overrides "includes/_misc.scss" */
#messages li,
div.infonotice,
div.successnotice,
div.warningnotice,
div.errornotice {
  @if lightness($notification_error_color) > 50 {
    color: #000;
  } @else {
    color: text-color($notification_error_color);
  }
}

#messages li.info,
div.infonotice {
  background: $notification_info_color;
  @if lightness($notification_info_color) > 50 {
    color: #000;
  } @else {
    color: text-color($notification_info_color);
  }
}

/* Overrides "includes/_forms.scss" */
%button {
  &:disabled {
    background: $button-background;
    color: $button-color;
    border-color: $button-border;
  }
}

/* Overrides "includes/_header.scss" */
.site-header {
  #logo {
    display: flex;
    align-items: center;

    a {
      display: flex;
      flex-direction: column;
      color: white;
    }

    .logo-img {
      display: block;
      max-width: 300px;
    }

    .subtitle {
      font-size: 1.2em;
      font-weight: normal;
      margin-left: 80px;
    }
  }
}

/* Footer */
#footer {
  display: flex;

  @media screen and (max-width: 900px) {
    flex-direction: column;
  }

  & > div {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 900px) {
      width: 100%;
      margin: 20px 0;
    }
  }

  img {
    display: block;
    margin: auto;
  }

  .logo-smica img {
    width: 50%;
  }

  .logo-laetis img {
    width: 50%;
  }

  .logo-publik img {
    width: 50%;
  }
}

/* Custom login page */
div#fc-button {
  width: 230px !important;
  height: 60px !important;
  margin: auto !important;
  box-shadow: none !important;
  transition: none !important;
  padding: 0 !important;
  background: url($data_uri_franceconnect-bouton) !important;
}

div#fc-button:hover {
  background: url($data_uri_franceconnect-bouton-hover) !important;
}

#login-page {
  display: flex;
}

#login-page .block h3 {
  text-align: center;
  margin-bottom: 40px;
}
